!!!
%html
  %head
    %link(rel="stylesheet" href="http://yui.yahooapis.com/2.8.0r4/build/reset/reset-min.css")
    %title This is the Title in a title tag within the head tag
  %body
    test
    = @resource
